/*
 CSS for MMBase documentation
 @author Michiel Meeuwissen
 @version $Id: documentation.css,v 1.3 2002-08-16 21:34:19 michiel Exp $;
*/


body {
     font-family: Verdana, Arial, Helvetica, sans-serif;
     background-color: white;
     margin-left: 3%;
     margin-right: 12%;
     padding-left: 0;
     padding-right: 0;
}


table { 
	 font-size: 9pt;
	 border: none;
	}
td {
     border-left: none;
	 border-right: none;
}
th {
    background-color: #ddd;
}

.title, 
.subtitle { 
   color: navy 
 }

.programlisting,
.programlistingco,
.screen,
.figure  { 
   background-color: #ddd;
   padding: 5pt;
   margin: 5pt;
   border: solid thin black;
}


a {
  text-decoration: none;
}

a:link {
  color: blue; 
}

a:visited {
  color: purple; 
}

a:hover { // color: red;
          // text-decoration: underline; 
		  }


 .navfooter, .navheader { background-color: #EEDDFF; }

 .chapter, .refentry,
 .book, .reference,
 .preface, .colophon { margin-left: 10pt;
                       margin-right: 10pt; }


div.navigation {
  display: block;
  background: transparent;
  position: fixed;
  top: 2em;
  left: auto;
  width: 10%;
  right: 2em;
  font-size: smaller;
  text-align: right;
}


div.navigation:before {
  content: url(logo.png);
}


div.navigation h1 {
  color: black;
  font-size: 1em;
  text-align: right;
  text-weight: bold;
}
div.navigation h2 {
  color: navy;
  font-size: 1em;
  text-align: right;
  text-weight: bold;
}

div.navigation p {
  background: transparent;
  text-align: right;
}


div.figure p {
  text-align: center;
}

div.figure p.title {
  text-align: left;
  color: green;
}

h1 {
  text-align: center;
}

