/*
 CSS for MMBase documentation
 @author Michiel Meeuwissen
 @version $Id: documentation.css,v 1.16 2006-06-09 11:21:42 michiel Exp $;
*/

@import url(../../mmbase/style/css/mmbase.css);

body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-color: white;
  margin-left: 3%;
  margin-right: 12%;
  padding-left: 0;
  padding-right: 0;
}


table {
  font-size: 9pt;
  border: none;
}
td {
  border-left: none;
  border-right: none;
}
th {
  background-color: #ddd;
}

.title,
.subtitle {
   color: #046;
 }

.programlisting,
.programlistingco,
.screen,
.figure  {
   background-color: #ddd;
   padding: 5pt;
   margin: 5pt;
   border: solid thin black;
}

.navfooter, .navheader { 
  background-color: #CCCCCC;
}

.navfooter table , 
.navheader table { 
  padding: 1ex;
  border-spacing: 0;
}
.navfooter table td, 
.navfooter table th {  
   background-color: #ddd;
}
.navheader table td, 
.navheader table th { 
   background-color: #ddd;
} 

.navfooter a:link, 
.navheader a:link, 
.navfooter a:visited, 
.navheader a:visited {
  font-weight: bold;
  color: #444444;
}

 .chapter, .refentry,
 .book, .reference,
 .preface, .colophon { 
  margin-left: 10pt;
  margin-right: 10pt; 
}


div.navigation {
  display: none;
}

div.navigation[class] {
  display: block;
  background: white; /*transparent url(semi2x2.png); */
  position: fixed;
  top: 2em;
  left: auto;
  width: 10%;
  height:100%;
  overflow:auto;
  right: 1em;
  font-size: smaller;
  text-align: right;
}


div.navigation:before {
  /*  content: url(logo.png); */
}


div.navigation h1 {
  color: black;
  font-size: 1em;
  text-align: right;
  font-weight: bold;

}
div.navigation h2 {
  color: navy;
  font-size: 1em;
  text-align: right;
  font-weight: bold;
}

div.navigation p {
  background: transparent;
  text-align: right;
}

div.figure p {
  text-align: center;
}

div.figure p.title {
  text-align: left;
  color: green;
}

.legalnotice {
   font-size: smaller;
   background-color: #eee;
   padding: 5pt;
   margin: 5pt;
   border: solid thin black;
}

h1 {
  text-align: center;
}

